*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:o;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}
.log{
  font-size: 30px;
}
.header .navbar ul li {
  display: inline-block;
  padding-left: 2rem;
  font-size: 1.2rem;
}
.steph{
  height: 70vh;
  position: relative;
}
.steph img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.steph .steph-container{
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 999;
  transition: ease .5s;

}
.container{
   margin:2% 15%;
}
.items div{
  padding: 20px 0px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  min-width: 250px;
  scroll-snap-align: start;
}
.items{
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.steph .like{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #000;
  opacity: 0;
}

.card{
  position: relative;
  width: 100%;
  margin-bottom: 2%;
  border:  1px solid black;
}
.card img{
  width: 100%;
  object-fit: cover;
  height: 300px;
}
.card .card-body{
  width: 100%;
  height: 50%;
}
/* .me{
  opacity: 0;
}
.card-body:hover .me{
  opacity: 1;
  transform: translateY(1em);
  transition: ease 1s;
} */
.socials li{
  display: inline;
  padding-left: 7rem;
}

.table{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0,1);
}
.table table{
  width: 100%;
  align-items: center;
  text-align: center;
}
.table table td, .table table th{
  padding: .8rem;
}
.table table td form input{
  width: 3rem;
  border: none;
  outline: none;
}
.table table td form input{
  width: 3rem;
  border: none;
  outline: none;
}
.cform{
  width: 100%;
  margin: 1rem;
}
.cform form input{
  margin-bottom: 1rem;
}
.cform form input{
  width: 100%;
  padding: .8rem;
  border-radius: 12px;
  border: 1px solid black;
  outline: none;
}
.login input{
  border-radius: 12px;
  margin-bottom: 2%;
}
.footers{
  width: 100%;
  height: 50%;
  display: flex;
}
.footers h1{
  font-size: 30px;
  padding: 0 2%;
}
.footer{
  width: 50%;
  font-size: 1.2rem;
}
.footer p{
  width: 50%;
}
.link{
  padding: 0 2%;
  font-size: 20px;
}
marquee img{
  display: inline;
}

/* */
body{
  background: #F1F1F1;
}


/* loader */
/* Wave text loader made by: csozi | Website: english.csozi.hu*/

.text {
  color: #502274;
  font-weight: bolder;
}

@keyframes letter {
  0% {
    font-size: 30px;
  }

  50% {
    font-size: 40px;
  }

  100% {
    font-size: 30px;
  }
}

.letter {
  animation: letter 1s infinite;
}

.letter1 {
  animation-delay: 0s;
}

.letter2 {
  animation-delay: -0.9s;
}

.letter3 {
  animation-delay: -0.8s;
}

.letter4 {
  animation-delay: -0.7s;
}

.letter5 {
  animation-delay: -0.6s;
}

.letter6 {
  animation-delay: -0.5s;
}

.letter7 {
  animation-delay: -0.4s;
}

.letter8 {
  animation-delay: -0.3s;
}

.letter9 {
  animation-delay: -0.2s;
}

.letter10 {
  animation-delay: -0.1s;
}

